{% extends 'base_logado.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} {% endblock %}
{% block sidebar %}
<!-- Sidebar user panel (optional) -->
                {% if not user.is_superuser %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p>{{user.cliente.nome_cliente}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% else %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p style="font-size: 12px;">{{user.first_name}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% endif %}

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
                    </div>
                </form>
                <!-- /.search form -->
                {% if user.is_superuser %}
  <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa  fa-desktop"></i> <span>CADASTROS</span></a></li>
          <li><a href="{% url 'pedidos_admin' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li class="active"><a href="{% url 'historico_admin' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_admin' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li><a href="{% url 'suporte_admin' %}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% else %}
       <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa fa-bar-chart"></i> <span>DASHBOARD</span></a></li>
          <li class="active"><a href="{% url 'pedidos_usuario' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li><a href="{% url 'historico_usuario' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_usuario' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li><a href="{% url 'suporte_usuario' %}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% endif %}

{% endblock %}
{% block main %}
<section class="invoice">
{% include 'parciais/_messages.html' %}
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> LaundrIT, LTDA.
            <small class="pull-right">Data: {{ pedido.data_solicitacao }}</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-8 invoice-col">
          De
          <address>
            <strong>{{ pedido.solicitante.nome_cliente }}, {{ pedido.solicitante.endereco }}<br>
            CPF : {{ pedido.solicitante.cpf }}<br>
            Phone: {{ pedido.solicitante.telefone }}<br>
            Email: {{ pedido.solicitante.user.email }}
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
         
          <b>Número Pedido :</b> {{ pedido.id }}<br>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Serviço/Preço</th>
              <th>Item/Preço</th>
              <th>Preço Unitário</th>
              <th>Quantidade</th>
              <th>Valor Item</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pedido.items.all %}
                <tr>
                  <td> {{ item.servico }}</td>
                  <td> {{ item.roupa }}</td>
                  <td> {{ item.preco_unitario }}</td>
                  <td> {{ item.quantidade }}</td>
                  <td> {{ item.total_item }}</td>
                </tr>
                 {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Métodos de Pagamento :</p>
          <img src="{% static 'img\visa.png' %}" alt="Visa">
          <img src="{% static 'img\mastercard.png' %}" alt="Mastercard">
          <img src="{% static 'img\american-express.png' %}" alt="American Express">
          <img src="{% static 'img\paypal2.png' %}" alt="Paypal">

          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        Boletos bancários serão validados só depois de três dias uteis.
        Obrigado
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Data da Entrega  {{ pedido }}</p>

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td>$250.30</td>
              </tr>
              <tr>
                <th>Tax (0.0%)</th>
                <td>$00.00</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td>${{ pedido.valor_total }}</td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="pagamento-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
    </section>
    
{% endblock %}